<%= form_for( @message, :url => "/cards/#{params[:card_id]}/messages", :method => :post, :html => {:multipart => true}) do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image, :type => 'file', :accept => 'image/*;capture=camera' %>
  <br/>
  <%= f.label :audio %>
  <%= f.file_field :audio, :type => 'file', :accept => 'audio/*;capture=microphone' %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
